
[Unit]
Description=AirQ to CHORDS Service
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Restart=always
RestartSec=5
Type=simple
WorkingDirectory=/home/pi/AirQ
ExecStart=/usr/bin/python3 /home/pi/AirQ/airqtochords.py /home/pi/AirQ/airq.json

[Install]
WantedBy=multi-user.target
